{% load static %}
{% load compress %}
{% compress css %}
    <link rel="stylesheet" href="{% static '/css/algemeen.css' %}">
    <link rel="stylesheet" href="{% static '/css/create-login-form.css' %}">
{% endcompress %}

<header class="heading" style="align-self: start; width: 100%;">
    <div class="logo-cont">
        <h1 class="logo-text logo-main">Fresh</h1>
        <h2 class="logo-text">foods</h2>
    </div>
</header>

<form method="POST" class="form">
    {% csrf_token %}
    <h2>Login</h2>
    {% for field in form %}
        {{field}}
    {% endfor %}
    <input type="submit" value="login" id="btn">
    <a href="/register">Dont have a acount yet?</a>
</form>
