{% load static %}
{% load compress %}

{% compress css %}
    <link rel="stylesheet" href="{% static '/css/algemeen.css' %}">
    <link rel="stylesheet" href="{% static '/css/create-login-form.css' %}">
    <link rel="stylesheet" href="{% static '/css/create-form.css' %}">
{% endcompress %}

<header class="heading" style="align-self: start; width: 100%;">
    <div class="logo-cont">
        <h1 class="logo-text logo-main">Fresh</h1>
        <h2 class="logo-text">foods</h2>
    </div>
    <span></span>
</header>

<form method="POST" class="form" style="">
    {% csrf_token %}
    <h1>Create your account</h1>
    {% for field in user_form %}
        {{field}}
        {{field.help_text}}
    {% endfor %}
    <p class="messages">
        {% for field in user_form %}
            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        {% endfor %}
    </p>
    <input type="submit" value="register" id="btn">
</form>