.form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

@media screen and (orientation: portrait) {
    /* Styles for devices in portrait mode */
    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

@media screen and (orientation: landscape) {
    .form{
        margin: 2rem auto 0;
        width: 50%;
        /* width: 20rem; */
    }
}

.form > input {
    height: 3em;
    font-size: 1.25em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid var(--highlight-color);
}

.form > input:focus {
    border: none;
    border-bottom: 5px solid var(--highlight-color);
    outline: none;
}

.form > #btn,
.form > a {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}
.form > h4{margin: auto;}

.form > h1 {
    margin: auto;
}

.form > ul {
    max-width: 50%;
    text-align: start;
    list-style: none;
}

.form > a {
    text-decoration: underline;
}

.form > #btn {
    border-radius: 2em;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
}