body{
    width: 100vw;
    width: 100svw;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.form{
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1em;
}
.form > p{
    display: flex;
}

.form > #btn{
    width: 80%;
    padding: .5em 0;
    justify-self: center;
    align-self: center;
}

.form > p > span{
    font-size: 1.2rem;
    display: block;
    flex-grow: 0;
}

.form > p > input{
    margin-left: auto;
    height: 2rem;
}

.form > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .form > ul > li{
    width: 33.33%;
} */